@import "tailwindcss";
@import "tw-animate-css";

@theme inline{
  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-light-gray: #f2f4f6;

  --color-text-primary: #353c49;
  --color-text-secondary: #6d7582;
  --color-text-subtitle: #8d94a0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-kr);
}
